data/**/*.geojson filter=lfs diff=lfs merge=lfs -text
data/*.geojson filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/Leaflet-1.9.4/.husky/pre-commit filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Leaflet-1.9.4/LICENSE filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.leafdoc filter=lfs diff=lfs merge=lfs -text
*.hbs filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.eslintrc filter=lfs diff=lfs merge=lfs -text
/Leaflet-1.9.4/docs/CNAME filter=lfs diff=lfs merge=lfs -text
/Leaflet-1.9.4/docs/Gemfile filter=lfs diff=lfs merge=lfs -text
/Leaflet-1.9.4/docs/docs/highlight/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.prettierignore filter=lfs diff=lfs merge=lfs -text
/node_modules/leaflet.fullscreen/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/leaflet/LICENSE filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.ods filter=lfs diff=lfs merge=lfs -text
